.heading
{
    background-color: orange;
    font-family:"lato,sans-serif";
    color:white;
}


.note
{
    color:red;
}


body
{
    background-color:cyan ;
}

.copyright
{
    position:fixed;
    color:white;
    bottom:0;
    width: 100%;
    background-color:grey;
    line-height:3;
    text-align: center;
}

canvas
{
    border:2px solid black;
}